- page_title "Members"
- can_admin_project_members = can?(current_user, :admin_project_member, @project)

.row.prepend-top-default
  .col-lg-12
    - if project_can_be_shared?
      %h4
        Project members
      - if can_admin_project_members
        %p= share_project_description
      - else
        %p
          Members can be added by project
          %i Maintainers
          or
          %i Owners

    .light
      - if can_admin_project_members && project_can_be_shared?
        - if !membership_locked? && @project.allowed_to_share_with_group?
          %ul.nav-links.nav.nav-tabs.gitlab-tabs{ role: 'tablist' }
            %li.nav-tab{ role: 'presentation' }
              %a.nav-link.active{ href: '#invite-member-pane', id: 'invite-member-tab', data: { toggle: 'tab' }, role: 'tab' } Add member
            %li.nav-tab{ role: 'presentation', class: ('active' if membership_locked?) }
              %a.nav-link{ href: '#invite-group-pane', id: 'invite-group-tab', data: { toggle: 'tab' }, role: 'tab' } Invite group

          .tab-content.gitlab-tab-content
            .tab-pane.active{ id: 'invite-member-pane', role: 'tabpanel' }
              = render 'projects/project_members/new_project_member', tab_title: 'Add member'
            .tab-pane{ id: 'invite-group-pane', role: 'tabpanel', class: ('active' if membership_locked?) }
              = render 'projects/project_members/new_project_group', tab_title: 'Invite group'
        - elsif !membership_locked?
          .invite-member= render 'projects/project_members/new_project_member', tab_title: 'Add member'
        - elsif @project.allowed_to_share_with_group?
          .invite-group= render 'projects/project_members/new_project_group', tab_title: 'Invite group'

        = render 'shared/members/requests', membership_source: @project, requesters: @requesters
        .clearfix
          %h5.member.existing-title
            Existing members and groups
        - if @group_links.any?
          = render 'projects/project_members/groups', group_links: @group_links

    = render 'projects/project_members/team', project: @project, members: @project_members
    = paginate @project_members, theme: "gitlab"
